body {
  background-color:#EAF6F6 ;
}
hr {
  border-style: dotted none none;
  border-color: lightblue;
  border-width: 4px;
}
h1  {
  color: #2C3333;
}
h3{
  color: #21325E;
}
h4 {
  color: #21325E;
}
